<!-- photos panel -->
 
<zf-panel id="photos" position="left" animation-in="slideInRight" animation-out="slideOutLeft" zf-swipe-close="left">
        <a zf-close="" class="close-button">close ×</a>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="grid-block align-center text-center">
    <div class="grid-content align-center text-center">
        
        <p><a href="#"><img class="thumbnail" src="assets/img/icon-main.gif"></a></p>
        <br>

        
        <p><a href="#" zf-open="advancedModalFront"><span class="success label">Front of House</span><img class="thumbnail" src="assets/img/front1.jpg"></a></p>
        <br>

        <p><a href="#" zf-open="advancedModalSidewalk"><span class="success label">Sidewalk & 5th Street</span><img class="thumbnail" src="assets/img/sidewalk.jpg"></a></p>
        <br>

        <p><a href="#" zf-open="advancedModalLounge"><span class="success label">First Floor Lounge</span><img class="thumbnail" src="assets/img/firstfloorlounge.jpg"></a></p>
        <br>
        
        <p><a href="#" zf-open="advancedModalFireplace"><span class="success label">First Floor Lounge</span><img class="thumbnail" src="assets/img/fireplace.jpg"></a></p>
        <br>
        
        <p><a href="#" zf-open="advancedModalKitchen"><span class="success label">Kitchen</span><img class="thumbnail" src="assets/img/kitchen.jpg"></a></p>
        <br>

        <p><a href="#" zf-open="advancedModalTV"><span class="success label">First Floor TV Room</span><img class="thumbnail" src="assets/img/firstfloortvroom.jpg"></a></p>
        <br>
        
        <p><a href="#" zf-open="advancedModalTV2"><span class="success label">Basement TV Room</span><img class="thumbnail" src="assets/img/basementtvroom.jpg"></a></p>
        <br>

        <p><a href="#" zf-open="advancedModalBathroom"><span class="success label">Shared Bathroom</span><img class="thumbnail" src="assets/img/sharedbathroom.jpg"></a></p>
        <br>

        <p><a href="#" zf-open="advancedModalBedroom1"><span class="success label">Bedroom 1</span><img class="thumbnail" src="assets/img/bedroom1.jpg"></a></p>
        <br>

        <p><a href="#" zf-open="advancedModalBedroom2"><span class="success label">Bedroom 2</span><img class="thumbnail" src="assets/img/bedroom2.jpg"></a></p>
        <br>

        <p><a href="#" zf-open="advancedModalBedroom3"><span class="success label">Bedroom 3</span><img class="thumbnail" src="assets/img/bedroom3.jpg"></a>
        <br></p>

    </div>
</div>