<!-- testimonials panel-->
 
<zf-panel id="testimonials" position="right" animation-in="slideInLeft" animation-out="slideOutRight" zf-swipe-close="right">
	<a zf-close="" class="close-button">close ×</a>
	<br>
	<br>
	<br>

	<div class="grid-block align-center text-center">
	 	<div class="grid-content align-center text-center">

			<div class="primary card">
			<img src="assets/img/lonelyplanet.jpg">
			<div class="card-divider">
			Lonely Planet
			</div>
			<div class="card-section">
			<p>"This cheery 10-bedroom home often caters to scholars at the nearby University of Minnesota. It has free wifi and welcoming common areas, like a season-round portch and lounge with fireplace".</p>
			</div>
			</div>
			<br>
			
			<div class="info card">
			<img src="assets/img/moonhandbooksmn.jpg">
			<div class="card-divider">
			Moon Handbooks
			</div>
			<div class="card-section">
			<p>"A pleasant European-style guesthouse right on the edge of the U of M campus. Mingle with the other interesting guests (90 percent are here on university business and about half of them are from overseas) in either the casual TV lounge, four-season porch, in front of the gas fireplace in the simiformal living room, or over the mostly organic continental breakfast. The ten guest rooms are simple, but a good value..."</p>
			</div>
			</div>
			<br>
			
			<div class="success card">
			<img src="assets/img/br.png">
			<div class="card-divider">
			Hudson, Brazil
			</div>
			<div class="card-section">
			<p>"Thanks Carver family for showing so much humanity. My stay here could not be better."</p>
			</div>
			</div>
			<br>
			
			<div class="primary card">
			<img src="assets/img/uy.png">
			<div class="card-divider">
			Pablo, Uruguay
			</div>
			<div class="card-section">
			<p>"There is no space in this guestbook to put how great my 7 months in The Wales were. Thank you very much."</p>
			</div>
			</div>
			<br>
			
			<div class="card">
			<img src="assets/img/jp.png">
			<div class="card-divider">
			Fumi, Japan
			</div>
			<div class="card-section">
			<p>"My third time here and always comfortable"</p>
			</div>
			</div>
			<br>
			
			<div class="warning card">
			<img src="assets/img/in.png">
			<div class="card-divider">
			Chandon, India</div>
			<div class="card-section">
			<p>"I always enjoy staying here - a true "home away from home".</p>
			</div>
			</div>
			<br>
			
			<div class="primary card">
			<img src="assets/img/uk.png">
			<div class="card-divider">
			Peter, United Kingdom
			</div>
			<div class="card-section">
			<p>"Everything I could have wished for - even the NY Times!"</p>
			</div>
			</div>
			<br>
			
			<div class="dark card">
			<img src="assets/img/pl.png">
			<div class="card-divider">
			Jan, Poland
			</div>
			<div class="card-section">
			<p>"Thanks Kelly and Julieanne - you created the perfect place for travelers."</p>
			</div>
			</div>
			<br>
			
			<div class="alert card">
			<img src="assets/img/fr.png">
			<div class="card-divider">
			Agathe, France
			</div>
			<div class="card-section">
			<p>"Thank you so much for your kind welcome and help during my stay here - I feel like it was a second home."</p>
			</div>
			</div>
			<br>
			
			<div class="card">
			<img src="assets/img/ve.png">
			<div class="card-divider">
			Peter & Josefina, NY and Venezuela
			</div>
			<div class="card-section">
			<p>"Our fourth visit here and we love it! Just a lovely place with lots of TLC."</p>
			</div>
			</div>
			<br>
			
			<div class="dark card">
			<img src="assets/img/ca.png">
			<div class="card-divider">
			Malcolm & Chris, Canada
			</div>
			<div class="card-section">
			<p>"We had such a wonderful time and rest here in our "room among the tree tops". You are so very hospitable. Hope to see you in Toronto soon!"</p>
			</div>
			</div>
			<br>
			
			<div class="card">
			<img src="assets/img/th.png">
			<div class="card-divider">
			Joy, Thailand
			</div>
			<div class="card-section">
			<p>"Simply the best"</p>
			</div>
			</div>
			<br>
			
			<div class="primary card">
			<img src="assets/img/uk.png">
			<div class="card-divider">
			Michael, United Kingdom
			</div>
			<div class="card-section">
			<p>"Thanks so much for your friendliness, advice and warm welcome - and for the loan of the mukluks!"</p>
			</div>
			</div>
			<br>
			
			<div class="dark card">
			<img src="assets/img/es.png">
			<div class="card-divider">
			Rosendo, Spain
			</div>
			<div class="card-section">
			<p>"A lot of room and very quiet"</p>
			</div>
			</div>
			<br>

			<br>
			<br>
			<div class="text-center">
			<p> Flag images used from <a href="http://flagpedia.net">flagpedia.net</a></p>
			<br>
		
		</div>
	</div>

</div>
