
<!-- Responsive Banner -->

<div class="grid-block banner">
	<div class="grid-content">
		<h2 class="lead align-center text-center small-5 medium-4 large-3">Your Minnesota home away from home.</h2>
	</div>
</div>		


<!-- Main Header -->

<div class="grid-block align-center text-center">
 	<div class="grid-content align-center text-center">
        <h1><strong>Bed & Breakfast</strong></h1>
    </div>

    <div class="grid-content align-center text-center">
		<p><strong>XXXX Xth St. SE, Minneapolis, MN 55414
		<br>Telephone: 612-XXX-XXXX
		<br><a href="">email@gmail.com</a></strong></p>
	</div>
</div>


<!-- Navigation Buttons -->

<div class="grid-block align-center text-center">

	<div class="grid-content align-center text-center">
        <p><a href="#" zf-toggle="testimonials" class="hollow alert button"><img zf-iconic="" icon="thumb" size="small">Testimonials</a></p>
    </div>

	<div class="grid-content align-center text-center">
		<a class="hollow success button" href="#" zf-open="advancedModalRates"><img zf-iconic="" icon="star" size="small">Room Rates</a>
		<div zf-modal="" id="advancedModalRates" class="collapse">
			<div class="grid-block vertical">
				<div class="title-bar">
					<div class="center title">Bed & Breakfast Room Rates</div>
					<span zf-close="" class="right"><a><strong>×</strong></a></span>
				</div>
			<div class="grid-content padding" style="padding-top: 1rem;">
				<p>
				<img src="assets/img/rates.png">
				</p>
				<a zf-close="" class="button">Close</a>
			</div>
			</div>
		</div>
	</div>
    
    <div class="grid-content align-center text-center">
        <p><a ui-sref="reservation" class="success button"><img zf-iconic="" icon="envelope" size="small">Reservations</a></p>
    </div>

    <div class="grid-content align-center text-center">
        <p><a href="#" zf-toggle="photos" class="alert button"><img zf-iconic="" icon="magnifying-glass" size="small">Photo Gallery</a></p>
    </div>

</div>


<!-- Left Panel - Photo Modals -->

<div zf-modal="" id="advancedModalFront" class="collapse text-center">
        <div class="grid-block vertical">
            <div class="title-bar">
                <div class="center title">Front of House</div>
                <span zf-close="" class="right"><a><strong>×</strong></a></span>
                </div>
            <div class="grid-content padding" style="padding-top: 1rem;">
                <p>
                <img src="assets/img/front1.jpg">
                </p>
                <a zf-close="" class="button">Close</a>
            </div>
            </div>
        </div>
    </div>

<div zf-modal="" id="advancedModalSidewalk" class="collapse text-center">
        <div class="grid-block vertical">
            <div class="title-bar">
                <div class="center title">Sidewalk & 5th Street</div>
                <span zf-close="" class="right"><a><strong>×</strong></a></span>
                </div>
            <div class="grid-content padding" style="padding-top: 1rem;">
                <p>
                <img src="assets/img/sidewalk.jpg">
                </p>
                <a zf-close="" class="button">Close</a>
            </div>
            </div>
        </div>
    </div>

<div zf-modal="" id="advancedModalLounge" class="collapse text-center">
        <div class="grid-block vertical">
            <div class="title-bar">
                <div class="center title">First Floor Lounge</div>
                <span zf-close="" class="right"><a><strong>×</strong></a></span>
                </div>
            <div class="grid-content padding" style="padding-top: 1rem;">
                <p>
                <img src="assets/img/firstfloorlounge.jpg">
                </p>
                <a zf-close="" class="button">Close</a>
            </div>
            </div>
        </div>
    </div>

<div zf-modal="" id="advancedModalFireplace" class="collapse text-center">
        <div class="grid-block vertical">
            <div class="title-bar">
                <div class="center title">First Floor Lounge</div>
                <span zf-close="" class="right"><a><strong>×</strong></a></span>
                </div>
            <div class="grid-content padding" style="padding-top: 1rem;">
                <p>
                <img src="assets/img/fireplace.jpg">
                </p>
                <a zf-close="" class="button">Close</a>
            </div>
            </div>
        </div>
    </div>

<div zf-modal="" id="advancedModalKitchen" class="collapse text-center">
        <div class="grid-block vertical">
            <div class="title-bar">
                <div class="center title">Kitchen</div>
                <span zf-close="" class="right"><a><strong>×</strong></a></span>
                </div>
            <div class="grid-content padding" style="padding-top: 1rem;">
                <p>
                <img src="assets/img/kitchen.jpg">
                </p>
                <a zf-close="" class="button">Close</a>
            </div>
            </div>
        </div>
    </div>

<div zf-modal="" id="advancedModalTV" class="collapse text-center">
        <div class="grid-block vertical">
            <div class="title-bar">
                <div class="center title">First Floor TV Room</div>
                <span zf-close="" class="right"><a><strong>×</strong></a></span>
                </div>
            <div class="grid-content padding" style="padding-top: 1rem;">
                <p>
                <img src="assets/img/firstfloortvroom.jpg">
                </p>
                <a zf-close="" class="button">Close</a>
            </div>
            </div>
        </div>
    </div>

<div zf-modal="" id="advancedModalTV2" class="collapse text-center">
        <div class="grid-block vertical">
            <div class="title-bar">
                <div class="center title">Basement TV Room</div>
                <span zf-close="" class="right"><a><strong>×</strong></a></span>
                </div>
            <div class="grid-content padding" style="padding-top: 1rem;">
                <p>
                <img src="assets/img/basementtvroom.jpg">
                </p>
                <a zf-close="" class="button">Close</a>
            </div>
            </div>
        </div>
    </div>

<div zf-modal="" id="advancedModalBathroom" class="collapse text-center">
        <div class="grid-block vertical">
            <div class="title-bar">
                <div class="center title">Shared Bathroom</div>
                <span zf-close="" class="right"><a><strong>×</strong></a></span>
                </div>
            <div class="grid-content padding" style="padding-top: 1rem;">
                <p>
                <img src="assets/img/sharedbathroom.jpg">
                </p>
                <a zf-close="" class="button">Close</a>
            </div>
            </div>
        </div>
    </div>

<div zf-modal="" id="advancedModalBedroom1" class="collapse text-center">
        <div class="grid-block vertical">
            <div class="title-bar">
                <div class="center title">Bedroom 1</div>
                <span zf-close="" class="right"><a><strong>×</strong></a></span>
                </div>
            <div class="grid-content padding" style="padding-top: 1rem;">
                <p>
                <img src="assets/img/bedroom1.jpg">
                </p>
                <a zf-close="" class="button">Close</a>
            </div>
            </div>
        </div>
    </div>

<div zf-modal="" id="advancedModalBedroom2" class="collapse text-center">
        <div class="grid-block vertical">
            <div class="title-bar">
                <div class="center title">Bedroom 2</div>
                <span zf-close="" class="right"><a><strong>×</strong></a></span>
                </div>
            <div class="grid-content padding" style="padding-top: 1rem;">
                <p>
                <img src="assets/img/bedroom2.jpg">
                </p>
                <a zf-close="" class="button">Close</a>
            </div>
            </div>
        </div>
    </div>

<div zf-modal="" id="advancedModalBedroom3" class="collapse text-center">
        <div class="grid-block vertical">
            <div class="title-bar">
                <div class="center title">Bedroom 3</div>
                <span zf-close="" class="right"><a><strong>×</strong></a></span>
                </div>
            <div class="grid-content padding" style="padding-top: 1rem;">
                <p>
                <img src="assets/img/bedroom3.jpg">
                </p>
                <a zf-close="" class="button">Close</a>
            </div>
            </div>
        </div>
    </div>


<!-- Description Sections -->

 <div class="grid-block">
    <div class="grid-content align-center">
		<p>Bed & Breakfast is a fully furnished historic home with 10 guest rooms and many spacious and inviting areas providing the charm of an old world inn. As the first and longest established guest house in the University of Minnesota area, we have hosted almost 4000 guests from over 67 countries, fostering a truly international community in this turn-of-the-century home. For the past 18 years, we have been the lodging of choice for visiting scholars, researchers, physicians and others for stays ranging from two nights to one year. Many of our guests return for more visits once they experience the friendly atmosphere, appealing spaces and great value for which Bed & Breakfast has become known.</p>
	</div>
</div>

<div class="grid-block">
	<div class="grid-content medium-6">
		<h3><strong>Amenities</strong></h3><hr>
			<ul>
	 			<li>Five rooms with private bathrooms; five rooms with two shared bathrooms </li>
	 			<li>Free (mostly organic) continental breakfast </li>
	 			<li>Free Wireless Highspeed Internet throughout </li>
	 			<li>Private telephones in each room with free local calls</li>
	 			<li>Furnished, spacious and well-organized guest kitchen</li>
	 			<li>Central Air-conditioning</li>
	 			<li>Cleaning service (except for stays of less than one week)</li>
	 			<li>On-site laundry</li>
	 			<li>Guest parking on-site (limited)</li>
	 			<li>National/local newspapers, magazines, Cable TV</li>
	 			<li>Secured building and rooms</li>
	 			<li>Smoke-free environment</li>
	 			<li>Owners on-site</li>
	 			<li>1/2 block from U of M Circulator & Minneapolis Busline</li>
	 			<li>Visa & Mastercard, U of M Purchase Orders accepted</li>
	 		</ul>
            <br>
            <br>
            <div class="grid-content align-center text-center">
                <p><a href="#" zf-toggle="photos" class="alert button"><img zf-iconic="" icon="magnifying-glass" size="small">Photo Gallery</a></p>
            </div>
	</div>
	
	<div class="grid-content medium-6">
		<h3><strong>Location</strong></h3><hr>
				
				<iframe class="show-for-large" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d45152.92711564593!2d-93.23820099999999!3d44.98313400000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x52b32d0d96d9263f%3A0x86f6729b4d7ec157!2s1115+5th+St+SE%2C+Minneapolis%2C+MN+55414!5e0!3m2!1sen!2sus!4v1443635702795" width="512" height="384" frameborder="0" style="border:0" allowfullscreen></iframe>

				<iframe class="show-for-medium-only" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d45152.92711564593!2d-93.23820099999999!3d44.98313400000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x52b32d0d96d9263f%3A0x86f6729b4d7ec157!2s1115+5th+St+SE%2C+Minneapolis%2C+MN+55414!5e0!3m2!1sen!2sus!4v1443641959250" width="300" height="225" frameborder="0" style="border:0" allowfullscreen></iframe>

		 		<iframe class="show-for-small-only" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d45152.92711564593!2d-93.23820099999999!3d44.98313400000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x52b32d0d96d9263f%3A0x86f6729b4d7ec157!2s1115+5th+St+SE%2C+Minneapolis%2C+MN+55414!5e0!3m2!1sen!2sus!4v1443635702795" width="372" height="279" frameborder="0" style="border:0" allowfullscreen></iframe>

		 		<br>
				<p>Unlike other lodging choices in the University of Minnesota area, Bed & Breakfast is not located on a busy, high-traffic street or intersection. There is very little traffic noise. The Historic District of 5th St. S.E. is a one lane, one-way street with a bike lane. The plentiful green space and majestic 125 year old oak trees lend calm and beauty to the area. Yet we are within easy walking distance of many of the area’s top attractions. Freeway and city street access is very convenient.</p>

		 		<p><span class="success label"><strong>5 minute walk:</strong></span>
		 			<ul>
		 				<li>The University of Minnesota East Bank: a stunning campus full of interesting architecture, landscaping and other amenities. (The West Bank Campus is a 20 minute walk)</li>
		 				<li>Dinkytown: a historic and pedestrian-friendly university village with unique shops and restaurants</li>
		 			</ul>
		 		</p>
		 		<p><span class="success label"><strong>20 minute walk:</strong></span>		 		<ul>
		 			<li>The Stone Arch Bridge: Connecting Southeast Minneapolis with Downtown. A beautiful curved stone bridge crossing the Mississippi River once used by trains and now crossed by pedestrians and bikes only. Great views of downtown, St. Anthony Falls and the historic Mill district.</li>
		 			<li>Mississippi River trails: Bike and walking trails go for miles on either side of the river.</li>
		 			<li>East Hennepin shopping area: a variety of quality shops and restaurants</li>
		 			<li>Historic 5th St. S.E. with its fine examples of classic architecture and a beautiful streetscape.</li>
		 		</ul>
		 		</p>
		 		<p><span class="success label"><strong>30 minute walk:</strong></span>		 		<ul>
		 			<li>The world famous Guthrie Theater, Mill City Museum, Historic Riverfront and Nicollet Island</li>
		 			<li>Downtown Minneapolis</li>
		 		</ul>
		 		</p>
			 	<p><strong>Buses:</strong> Bus lines run 1 block from Bed & Breakfast allowing you to easily explore Downtown Minneapolis and St. Paul, The Walker Art Center/Loring Park area, Uptown Minneapolis and the lakes. The University of Minnesota Campus Circulator free shuttle bus runs 1 block away.</p>
	</div>
</div>